._.gitkeep
._bike.R
._cultural.R
._daycare_spots.R
._etablissements_sante.R
._geocode_diagnostic_culturel.R
._mobility_transport.R
._municipal.R
._parks.R
._schools.R
._services_amenities.R
._supermarkets.R
