._01_startup.R
._11_context.Rmd
._12_demography.Rmd
._12_demography.html
._12_scripts
._13_10_food.Rmd
._13_11_lifestyle.Rmd
._13_12_climate.Rmd
._13_1_immigration.Rmd
._13_1_immigration.html
._13_2_langues.Rmd
._13_3_family.Rmd
._13_4_children.Rmd
._13_5_employment.Rmd
._13_6_education.Rmd
._13_7_housing.Rmd
._13_8_income.Rmd
._13_9_roaming.Rmd
._13_scripts
._14_axe2.Rmd
._14_axe2.html
._14_scripts
._15_axe3.Rmd
._15_axe3.html
._15_scripts
._index.Rmd
._utils
